<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DisqusPublicKey" value="PUBLIC_KEY_VALUE" />
    <add key="DisqusAccessToken" value="ACCESS_TOKEN" />
    <add key="DisqusPostUrlFormat" value="https://disqus.com/home/discussion/{0}/{1}/#comment-{2}" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>